<!doctype html>
<html>
<head>
    <meta charset="utf-8">
</head>

<body>
<h4>Zapisz produkt do bazy danych</h4>

    <div>
        <form class="put_item" method="post" action="#">
            <label>Nazwa produktu</label><br>
            <input name="name" type="text" maxlength="40" value=""/><br>
            <label>Opis</label><br>
            <input name="desc" type="text" value=""/><br>
            <label>Cena</label><br>
            <input name="price" type="number" min="0" step="0.01"/><br>
            <button type="submit" name="submit">Wyślij</button>
        </form>
    </div>
</body>
</html>